.select-table {
    background-color: var(--color-highlight-2);
    padding-block: calc(var(--spacing) * 12);
}

.select-table .container {
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: calc(var(--spacing) * 5);
}

/* ============================================================================== SELECT TABLE FORM */

.select-table-form {
    padding-block: calc(var(--spacing) * 6);
    grid-column: 1/-1;
}

.select-table-form .top-row-form {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)) auto;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-highlight-1);
    border-radius: 16px;
    overflow: hidden;
}

.select-table-form .top-row-form .field {
    display: flex;
    flex-direction: column;
    color: var(--color-primary-1);
    padding: 8px 12px;
}

.select-table-form .top-row-form .field .select {
    font-size: 18px;
    font-family: karla-med;
    width: 100%;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-table-form .top-row-form .field .select:focus {
    outline: none;
}

.select-table-form .top-row-form .field .select:disabled {
    color: var(--color-gray-300);
    cursor: not-allowed;
}

.date-select {
    height: auto;
    padding: 0px !important;
}

.date-select fieldset {
    border: none !important;
}

.css-1y4gq5a-MuiPickersSectionList-root-MuiPickersInputBase-sectionsContainer-MuiPickersOutlinedInput-sectionsContainer,
.css-1fb7els-MuiPickersSectionList-root-MuiPickersInputBase-sectionsContainer-MuiPickersOutlinedInput-sectionsContainer,
.css-1jpopwz-MuiPickersSectionList-sectionContent-MuiPickersInputBase-sectionContent {
    padding: 0 !important;
    font-size: 18px !important;
    font-family: karla-med !important;
    color: var(--color-primary-1) !important;
}

.MuiOutlinedInput-root {
    padding: 0 !important;
    height: auto !important;
    background: transparent !important;
}

.MuiIconButton-root {
    color: var(--color-primary-1) !important;
    padding: 0px !important;
    padding-right: 3px;
}

.select-table-form .bottom-row-form {
    margin-inline: auto;
    margin-top: calc(var(--spacing) * 7);
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: calc(var(--spacing) * 5);
}

.select-table-form .bottom-row-form label {
    font-family: karla-xb;
    font-size: 20px;
    color: var(--color-primary-1);
    text-wrap: nowrap;
}

/* =============== Button =============== */

.btn-search {
    height: 100%;
    border-radius: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-occasion {
    padding: 8px 16px;
    background-color: var(--color-highlight-1);
    border-radius: 16px;
    font-size: 18px;
    font-family: karla-med;
    color: var(--color-primary-1);
}

.btn-occasion.active {
    outline: 4px solid var(--color-highlight-3);
    background-color: var(--color-primary-1);
    color: var(--color-highlight-2);
}

/* =============== Result =============== */
.error-message {
    color: var(--color-red-600);
    padding: 1rem;
    grid-column: 1/-1;
    text-align: center;
    font-size: 20px;
}

.select-table-result {
    grid-column: 1/-1;
    border-top: 1px solid var(--color-secondary-1);
    margin-block: calc(var(--spacing) * 12);
    padding-top: calc(var(--spacing) * 12);
    text-align: center;
}

.select-table-result h5 {
    font-size: 24px;
}

.select-table-result .found {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;

    background-color: var(--color-highlight-1);
    border-radius: 16px;
    overflow: hidden;
}

.select-table-result .found .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing) * 2);
}

.select-table-result .not-found .card-link {
    display: inline;
    padding-left: 6px;
}

/* =============== Responsive =============== */
@media (width >= 80rem) {
    .select-table-form,
    .select-table-result {
        grid-column: span 8 / span 8;
        grid-column-start: 3;
    }
}

@media (width < 64rem) {
    .select-table {
        padding-block: calc(var(--spacing) * 5);
    }
    .select-table .container {
        padding-inline: calc(var(--spacing) * 4);
    }
}

@media (width < 40rem) {
    .select-table-form .top-row-form {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: calc(var(--spacing) * 3);
    }

    .select-table-form .top-row-form .field {
        width: 100%;
        padding: 12px 0;
    }

    .select-table-form .top-row-form .field .select {
        border: 1px solid var(--color-secondary-1);
        border-radius: 4px;
        padding: 8px;
        margin-top: 4px;
    }

    .select-table-form .top-row-form .field div div {
        border: 1px solid var(--color-secondary-1);
        border-radius: 4px;
        padding: 8px;
        margin-top: 4px;
    }

    .select-table-form .top-row-form .field div div div {
        border: none;
    }

    /* .css-1y4gq5a-MuiPickersSectionList-root-MuiPickersInputBase-sectionsContainer-MuiPickersOutlinedInput-sectionsContainer,
    .css-1fb7els-MuiPickersSectionList-root-MuiPickersInputBase-sectionsContainer-MuiPickersOutlinedInput-sectionsContainer {
        padding: 8px;
    } */

    .btn-search {
        width: 100%;
        margin-block: 12px;
        border-radius: 16px !important;
        overflow: hidden;
    }

    .select-table-form .bottom-row-form {
        flex-direction: column;
    }

    .select-table-result .found {
        display: block;
        padding: 24px 12px;
        background-image: linear-gradient(rgba(3, 3, 3, 0.6), rgba(3, 3, 3, 0.6)), url("../../../assets/images/restaurant.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .select-table-result .found .info h5,
    .select-table-result .found .info p {
        color: var(--color-highlight-1);
    }

    .select-table-result .found .img {
        display: none;
    }
}
