.about {
    display: grid;
    grid-template-rows: repeat(3, auto);
    column-gap: calc(var(--spacing) * 5);
    padding-block: 5rem;
    margin-inline: auto;
}

.about-content {
    grid-row: 1/-1;
    display: grid;
    grid-template-rows: subgrid;
}

.about-content h1 {
    line-height: 2.5rem;
    color: var(--color-primary-2);
}

.about-content h2 {
    color: var(--color-primary-1);
    padding-bottom: 2rem;
}

.about-content p {
    padding-right: 6rem;
}

.about-images {
    grid-row: 1/-1;
    display: grid;
    grid-template-rows: subgrid;
    position: relative;
}

.about-images .about-img {
    width: 16rem;
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 16px;
}

.about-images .about-img:nth-child(1) {
    grid-row-start: 3;
    object-position: right;
}

.about-images .about-img:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

@media (width >= 80rem) {
    .about {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    .about-content {
        grid-column: span 4 / span 4;
        grid-column-start: 3;
    }

    .about-images {
        grid-column: span 4 / span 4;
    }
}

@media (width < 80rem) {
    .about {
        grid-template-columns: 1fr 1fr;
    }

    .about-content {
        grid-column: span 1 / span 1;
    }

    .about-images {
        grid-column: span 1 / span 1;
    }
}

@media (width < 48rem) {
    .about {
        padding-inline: 1rem;
    }

    .about-content p {
        padding-right: 0;
    }

    .about-images {
        grid-template-rows: none;
        justify-items: center;
        align-items: center;
    }

    .about-images .about-img:nth-child(2) {
        display: none;
    }

    .about-images .about-img {
        width: 100%;
    }
}

@media (width < 40rem) {
    .about {
        display: block;
        position: relative;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../../assets/images/Mario-and-Adrian-2.jpg");
        background-size: cover;
        background-position: right -10rem top;
        background-attachment: fixed;
    }

    .about-content h2,
    .about-content p {
        color: var(--color-highlight-1);
    }

    .about-images {
        display: none;
    }
}
