.form .container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin-inline: auto;
    column-gap: calc(var(--spacing) * 5);
}

.form .container .title,
.form .container .content {
    grid-column: 1/-1;
    grid-column-start: 1;
}

.form .container .title {
    font-size: 18px;
    font-family: karla-bd;
    color: var(--color-primary-1);
    padding-bottom: calc(var(--spacing) * 5);
}

.form .container .content {
    background-color: var(--color-highlight-1);
    border-radius: 16px;
    padding: calc(var(--spacing) * 8);
    color: var(--color-primary-1);
    overflow: hidden;
}

/* ==================== Responsive ==================== */

@media (width >= 80rem) {
    .form .container .title,
    .form .container .content {
        grid-column: span 8 / span 8;
        grid-column-start: 3;
    }
}

@media (width < 40rem) {
    /* .form .container {
        padding-inline: calc(var(--spacing) * 0);
    } */

    .form .container .content {
        padding-block: calc(var(--spacing) * 4);
        padding-inline: calc(var(--spacing) * 2);
    }
}
