.header {
    background-color: var(--color-highlight-1);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    transition: transform 0.4s ease, opacity 0.3s ease;
}
.header.show {
    transform: translateY(0);
    opacity: 1;
}
.header.hide {
    transform: translateY(-100%);
    opacity: 0;
}
.header .container {
    margin: 0 auto;
    align-items: center;
}
.header_logo {
    max-width: 300px;
}
.header_nav {
    justify-content: space-between;
}
.header_link {
    font-family: karla-xb;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--color-highlight-3);
    cursor: pointer;
    text-align: start;
}
.header_link:hover {
    color: var(--color-primary-2);
}

.drawer_overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    z-index: 40;
    animation: fadeIn 0.3s forwards;
}

.drawer-menu {
    position: fixed;
    inset: 0;
    max-width: 24rem;
    height: 100vh;
    background-color: var(--color-highlight-1);
    z-index: 50;
    padding: 2rem;
    transform: translateX(-100%);
    animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0.4;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (width < 40rem) {
    .header_logo {
        width: 250px;
    }
}
