.testimonials {
    background-color: var(--color-primary-2);
}

.testimonials .container {
    margin-inline: auto;
    padding-block: calc(var(--spacing) * 24);
}

.testimonials .container h2 {
    text-align: center;
    margin-bottom: 2rem;
}
