.card-items {
    display: grid;
    row-gap: calc(var(--spacing) * 5);
    margin-top: calc(var(--spacing) * 12);
}

.card {
    display: grid;
}

.card-image {
    aspect-ratio: 4/3;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.card-image .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header h3 {
    font-family: karla-bd;
    font-size: 18px;
    color: var(--color-primary-1);
}

.card-header span {
    font-family: karla-bd;
    font-size: 18px;
    color: var(--color-secondary-1);
}

.card-desc {
    color: var(--color-primary-1);
}

.card-link {
    display: flex;
    font-family: karla-xb;
}

.card-link:hover {
    text-decoration: underline;
}

.card-link img {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
}

@media (width >= 48rem /* 768px */) {
    .card-items {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: calc(var(--spacing) * 5);
        row-gap: calc(var(--spacing) * 10);
    }

    .card {
        grid-row: span 4 / span 4;
        grid-template-rows: subgrid;
        row-gap: calc(var(--spacing) * 5);
        border-radius: 16px;
        overflow: hidden;
        background-color: var(--color-highlight-2);
        transition: all 0.2s ease-in-out;
        padding-bottom: 1rem;
    }

    .card-header,
    .card-desc,
    .card-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .card:hover {
        background-color: var(--color-secondary-2);
        transition: all 0.2s ease-in-out;
    }

    .card:hover .card-image .image {
        width: 110%;
        height: 110%;
        transition: all 0.5s ease-in-out;
    }
}

@media (width < 48rem) {
    .card {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-auto-flow: row dense;
        gap: 1rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid var(--color-highlight-2);
    }

    .card-image {
        align-self: center;
        grid-row: span 2 / span 2;
        grid-column-start: 2;
    }

    .card-header {
        grid-column: span 2 / span 2;
        grid-row-start: 1;
    }

    .card-desc {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .card-link {
        align-self: flex-end;
    }
}

@media (width < 30rem) {
    .card {
        grid-template-rows: auto 48px auto;
    }

    .card-image {
        aspect-ratio: 1/1;
    }

    .card-desc {
        -webkit-line-clamp: 2;
    }
}
